/* Based on the work by https://codepen.io/renanpvaz/pen/rGxzqE */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Arvo', sans-serif;
}

.image-container > img {
    border-radius: 12px;
}

.eva-heading {
    padding: 32px;
    margin: 0 auto;
    align-self: baseline;
    font-family: serif;
    color: white;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
}

.eva-heading > h1 {
    font-size: 500%;
}

.eva-heading > h2 {
    font-size: 300%;
}

.eva-heading__title {
    transform: scale(1, 1.5);
    line-height: 1.2em;
    letter-spacing: -0.03em;
}

.eva-heading__episode-number {
    font-family: sans-serif;
    font-size: 180%;
    transform: scale(1, 1.5);
    letter-spacing: -0.06em;
    margin: 10px 0 26px 0;
}

.eva-heading__episode-title {
    transform: scale(1, 1.3);
    font-size: 170%;
    line-height: 1em;
}

.page-indicator {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.page-indicator .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
}

.page-indicator .dot.active {
    background-color: white;
    transform: scale(1.2);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 0;
}

.slide.active {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    text-align: left;
}

.centered {
    text-align: center;
}

.text {
    color: white;
    margin: 20px 0;
    line-height: 1.5;
}

.text > p{
    font-size: 1.65em;
}

.katex {
    font-size: 1.18em !important;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-source {
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: -22px;
    margin: 4px;
    font-size: 14px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.65);
}

.content > h1 {
    font-size: 3em;
    color: white;
    margin: 20px 0;
    line-height: 1.5;
}

.content > h2 {
    font-size: 2.5em;
    color: white;
    margin: 20px 0;
    line-height: 1.5;
}

.content > h3 {
    font-size: 2em;
    color: white;
    margin: 20px 0;
    line-height: 1.5;
}

p {
    color: white;
    font-size: 1.8em;
}

ul {
    list-style: none;
    color: white;
}

ul li::before {
    content: '\2022';
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-top: 2%;
}

ul li {
    font-size: 1.8em;
}

.stickers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sticker {
    width: auto;
    position: absolute;
    z-index: 1;
}

.bottom-right {
    border-top-left-radius: 20px;
    bottom: 0;
    right: 0;
}

.top-right {
    border-bottom-left-radius: 20px;
    top: 0;
    right: 0;
}

.bottom-left {
    border-top-right-radius: 20px;
    bottom: 0;
    left: 0;
}

.identation-1 {
    margin-left: 40px;
}

.identation-2 {
    margin-left: 80px;
}

.identation-3 {
    margin-left: 120px;
}

.identation-4 {
    margin-left: 160px;
}

.identation-5 {
    margin-left: 200px;
}

.identation-6 {
    margin-left: 240px;
}